{% load crispy_forms_tags %}
{% block content %}
    <head>
        <style>
            body {
                max-width: 500px;
                margin-left: auto;
                margin-right: auto;
            }

            button {
                padding: 10;
                margin-left: 20px;
                display: inline;
                background-color: white;
                border-radius: 5px;
            }

            fieldset {
                margin-top: 60px;
                border-radius: 5px;
                margin: 20px;
            }
        </style>
    </head>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline info" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
            </small>
        </div>
    </div>
{% endblock content %}
